<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8">
	<title>Envio completo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../public/assetsForm/assetsThanks/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../public/assetsForm/assetsThanks/css/fontawesome-all.css">
	<link rel="stylesheet" href="../../public/assetsForm/assetsThanks/css/style.css">
</head>
<body>
	<!-- Start of thank you section
		============================================= -->
		<section id="thank-you" class="thank-you-section">
			<div class="container">
				<div class="thank-you-wrapper position-relative thank-wrapper-style-two thank-wrapper-style-four">
					<!-- <div class="thank-you-close text-center">x</div> -->
					<div class="thank-txt text-center">
						<div class="text-area-thank">
							<div class="thank-icon">
								<img src="../../public/assetsForm/assetsThanks/img/tht4.png" alt="">
							</div>
							<h1>¡Gracias!</h1>
							<p>Gracias por completar el formulario de alojamiento</p>
						</div>
					</div>
					<div class="thank-txt-part2">
						<br>
						<br>
					
						<!-- <span><img src="../../public/assetsForm/assetsThanks/img/eni.png" alt="">youremail@gmail.com</span>
						<span><img src="../../public/assetsForm/assetsThanks/img/phi.png" alt="">021 ( 876-983-873 )</span> -->
					</div>
					<div class="thank-vectoritem thank-vector2 position-absolute"><img src="../../public/assetsForm/assetsThanks/img/tv2.png" alt=""></div>
					<div class="thank-vectoritem thank-vector3 position-absolute"><img src="../../public/assetsForm/assetsThanks/img/tv4.png" alt=""></div>
				</div>
			</div>
		</section>
 	<!-- End of thank you section
 		============================================= -->

 		<script src="../../public/assetsForm/assestsThanks/js/jquery-3.3.1.min.js"></script>
 		<script src="../../public/assetsForm/assestsThanks/js/bootstrap.min.js"></script>
 		<script src="../../public/assetsForm/assestsThanks/js/main.js"></script>

 	</body>
 	</html>