<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8">
	<title>No disponible</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../public/assetsForm/assetsThanks/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../public/assetsForm/assetsThanks/css/fontawesome-all.css">
	<link rel="stylesheet" href="../../public/assetsForm/assetsThanks/css/style.css">
</head>
<body>
	<!-- Start of thank you section
		============================================= -->
		<section id="thank-you" class="thank-you-section">
			<div class="container">
				<div class="thank-you-wrapper position-relative thank-wrapper-style-one thank-wrapper-style-three">
					<!-- <div class="thank-you-close text-center">x</div> -->
					<div class="thank-txt text-center">
						<h1>No disponible</h1>
						<div class="thank-icon">
							<img src="../../public/assetsForm/assetsThanks/img/cross.png" width="160" alt="">
						</div>
						<p>El contenido no está disponible en este momento.</p>
						
					</div>
				</div>
			</div>
		</section>
 	<!-- End of thank you section
 		============================================= -->

 		<script src="../../public/assetsForm/assestsThanks/js/jquery-3.3.1.min.js"></script>
 		<script src="../../public/assetsForm/assestsThanks/js/bootstrap.min.js"></script>
 		<script src="../../public/assetsForm/assestsThanks/js/main.js"></script>
 	</body>
 	</html>